article.formule {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 40px 20px 40px;

  background-color: $colBlue;
  border-radius: 10px;

  h1 {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 30px;
    color: $colYellow;
    margin-bottom: 30px;
  }

  p {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 20px;

    margin-top: auto;
  }

  .price {
    position: relative;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1.1px;

    padding-top: 20px;

    .fixed-price {
      height: 19px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 4px;
      width: 110px;
      background-color: $colYellow;
      transform: translateX(-50%);
      border-radius: 2px;
    }

    small {
      display: block;
      font-weight: 400;
      font-size: 14px;
    }
  }

  a.btn.btn-xs {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 65%;

    @include big-desktop {
      width: 50%;
    }
  }
}

section.contact {
  padding-top: 90px;
  h2 {
    grid-column: 2 / 12;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    grid-column: 4 / 10;
    text-align: center;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-column: 3 / 11;

    input[type='email'],
    input[type='text'],
    textarea {
      background-color: #120c57;
      box-shadow: none;
      outline: none;
      border: 2px solid #120c57;
      width: 100%;
      margin: 12px 0;
      padding: 0 20px;
      font-family: 'Exo';
      font-weight: bold;
      color: $colWhite;
      text-transform: uppercase;

      &::placeholder {
        font-family: 'Exo';
        font-style: italic;
        font-weight: bold;
        color: rgba($colWhite, 0.7);
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    input[type='email'],
    input[type='text'] {
      height: 60px;
    }

    textarea {
      height: 150px;
      resize: none;
      padding: 20px;
      line-height: 20px;
    }

    .btn.btn-xs {
      margin-top: 20px;
    }
  }

  @include max-tablet {
    h2,
    p,
    form {
      grid-column: span 1;
    }

    padding-top: 0;
  }
}

article.sentence {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 0;

  .oo {
    position: relative;
    flex-shrink: 0;
    margin: 10px 55px 0 0;

    img {
      height: 80px;
      width: 80px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 4px;
      display: block;
      height: 32px;
      width: 60px;
      background-image: url('../img/lightning.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(100%, 0) rotate(-55deg);
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    font-family: 'Exo';
    font-weight: bold;

    .name {
      color: $colYellow;
      font-size: 16px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    p {
      font-style: italic;
      font-size: 17px;
      line-height: 24px;
      width: 75%;
      margin-right: auto;
    }
  }

  @include max-tablet {
    .content p {
      width: 100%;
    }
  }
}

article.oo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding: 25px 20px;
  background: $colBackground;
  border-radius: 10px;
  text-align: center;
  height: 100%;

  &:hover {
    h1 {
      color: $colYellow;
    }
  }

  img {
    // height: 160px;
    max-width: 140px;
    margin: 0 auto 15px;
  }

  h1 {
    margin-top: auto;
    position: relative;

    font-family: 'Exo';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.45px;
    transition: color 0.3s ease;

    span {
      position: absolute;
      bottom: -1px;
      right: -5px;
      display: block;
      height: 10px;
      width: 10px;
      border-right: 2px solid;
      border-bottom: 2px solid;
      transform: translate(0, -50%) rotate(-45deg);
    }
  }

  @include max-tablet {
    img {
      width: 100px;
    }

    h1 {
      span {
        right: 0;
      }
    }
  }
}
